ul {
    list-style-type: none;
    margin-right: 40px;

}
li{
    display: inline;
    margin-right: 20px;
}

nav{

    border-top: 1px solid #aaa;
    height: 50px;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: #555;
}
a:hover{
    color: #aaa;
}