section#hero {
  height: 70vh;

  background-image: url("/assets/laptop-and-desk.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section#hero {
  display: grid;
  justify-content: center;
  align-content: center;
}

#hero h1 {
    color: white;
    font-size: 40px;
}

button {
    border: 1px solid #fff200;
    background-color: #fff200;
    border-radius: 30px;
    cursor: pointer; 
    padding: 12px 20px;
    font-weight: bold;
}

button:hover{
    background-color: #fffa65;
    border-color: #fffa65;
}

div{
    text-align: center;
}

#who-we-are{
    text-align: center;
}

#who-we-are h1{
    font-size: 30px;
}

#who-we-are div{
    width: 50vw;
    margin: 0 auto;
}
