ul {
    list-style-type: none;
    padding-top: 15px;
    margin-right: 40px;

}
li{
    display: inline;
    margin-right: 20px;
}

nav{

    background-color: #fff200;
    height: 50px;
}

a{
    text-decoration: none;
    color: #555;
}
a:hover{
    color: #aaa;
}